@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html{
    scroll-behavior: smooth;
}

/* CSS Resets*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

body{
    font-family: var(--font-family);
    
}


/* navbar */
.header{
  border-bottom: 1px solid #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4756df;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.1rem;
  font-weight: 400;

}

.nav-link:hover{
  color: #ff7235;
}

.nav-logo {
  font-size: 1.8rem;
  font-weight: 500;
  color: #482ff7;
}

.more-about{
    background-color: var(--bg-color);
    padding: 2rem 6rem;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}
.more-about h2{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
.more-about p{
    line-height: var(--line-height);
    padding: 0.4rem;
}
 .skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header{
    margin-bottom: 1rem;
}
.skills-wrapper img{
    padding: 1.25rem;
}

.fancy{
  font-size: 20px;
  font-weight:800px;
}


.aboutMeSection{
  padding-left: 150px;
  line-height: 40px;
  font-size: medium;
}
.aboutMeSection h2{
  text-align: center;
  margin-top: 20px;
}

.projects{
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}
.project-pic {
    width: 100%;
    height: 50%;
  }


.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}
  
.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}
.project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}
.contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }

  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }
  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }
  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }

  .parent {
    /* border: 1px solid black; */
    /* margin: 1rem; */
    margin-left: 180px;
    padding: 2rem 2rem;
    text-align: center;
    width: fit-content;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  span{
    opacity: 0;
    transition: all 0.4s ease;
  }

  span.fade{
    opacity: 1;
  }

  .column {
    float: left;
    /* width: 25%; */
    /* padding: 0px; */
  }
  /* row::after {
    content: "";
    clear: both;
    display: table;
  } */




  @media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
    nav {
        padding: 1.5rem 1rem;
      }
    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
      }

      nav ul li {
        margin: 8px;
      }
      .burger-menu {
        display: block;
      }
    
      nav ul.show {
        transform: translateX(0);
      }
      .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
      }
    
      .hero img {
            height: 37.5rem;
            width: 30rem;
        }
    
      .bio {
        margin-top: -7rem;
        width: 20.5rem;
      }
      .more-about {
        margin-top: 12rem;
        padding: 1rem 3.5rem;
        /* border: 2px solid black; */
      }
    
      .more-about h2 {
        text-align: center;
      }
    
      .more-about p {
        text-align: justify;
      }
      .icon {
        width: 5.875rem;
        height: 5.25rem;
      }
      .projects-container {
        flex-direction: column;
      }
    
      .project-container {
        width: 20.875rem;
      }
      .contact-form-container {
        max-width: 23.75rem;
      }
  }
  

  @media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color:rgba(120, 167, 221, 0.05);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color:rgba(13, 62, 117, 0.05);
    }
   
    
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }


}


